<h3>List thông số container</h3>
<div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="mt-3 mt-lg-0">
                                <div class="row">
                                    <div class="col-3 fs-22 d-flex justify-content-center align-items-center">
                                        <h5 class="mt-0 mb-1 fs-22 fw-bold">Thông tin service container

                                            <p class="text-danger">{{infoVitual}}</p>
                                        </h5>

                                    </div>
                                    <div class="col-9">
                                        <div class=" fs-22 bg-success">
                                            Search
                                        </div>
                                        <div class="mt-2">
                                            <h6>Nội dung: Check thông số CPU máy ảo 1 ngày 3 lần / ngày</h6>
                                            <p class="mb-0">
                                                thời gian: 9h sáng , 14h chiều , 19h tối các ngày trong tuần
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <button class="btn btn-primary" style="margin-right: 20px
">Quay lại
                        </button>
                        <button class="btn btn-primary" (click)="exportData()">Xuất dữ liệu Excel</button>
                    </div>


                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div>
        <!-- end col-12 -->
    </div>
</div>


<app-advanced-table-device
        *ngIf="records.length != 0; else noData"
        [totalItems]="totalItems"
        [page]="pageCurrent"
        [limit]="limit"
        [pagination]="true"
        [hasRowSelection]="true"
        (pageChange)="updatePage($event)"
>
    <ng-template #theHeaders>
        <tr>
            <th *ngFor="let column of columns" [style.width.px]="column.width" class="text-capitalize">
                {{column.label}}</th>
        </tr>
    </ng-template>

    <ng-template #theContent>
        <tr *ngFor="let i of records">
            <td>
                <p class="m-0 fw-semibold"> {{i?.nameServiceContainer}}</p>
            </td>
            <td>
                <span>{{i?.ipaddress}}</span>
            </td>
            <td class="">
                <span>{{i?.cpu}}%</span>
            </td>
            <td>
                <span>{{i?.ram}}%</span>
            </td>
            <td>
                <span>{{ i?.createdAt | date:' HH:mm dd/MM/yyyy':'+000' }}</span>
            </td>
        </tr>
    </ng-template>

</app-advanced-table-device>

<ng-template #noData>
    <div class="text-center m-5">
        <h3>Không có container trong server này</h3>
    </div>
</ng-template>