<app-advanced-table
        [totalItems]="totalItems"
        [page]="pageCurrent"
        [limit]="limit"
        [pagination]="true"
        [hasRowSelection]="true"
        (pageChange)="updatePage($event)"
>
    <ng-template #theHeaders>
        <tr>
            <th *ngFor="let column of columns" [style.width.px]="column.width" class="text-capitalize">
                {{column.label}}</th>
            <th>Chi Tiết</th>
        </tr>
    </ng-template>

    <ng-template #theContent>
        <tr *ngFor="let i of records">
            <td>
                <span>{{i?.namePhysicalMachine}}</span>
            </td>
            <td>
                <div *ngIf="i?.type_machine === 'fujitsu'; else providerOther">
                    <img src="./assets/images/fujitsu.png" alt="" width="50">
                </div>
                <ng-template #providerOther>
                    <img src="./assets/images/hpe.png" alt="" width="50">
                </ng-template>
            </td>
            <td>
                <span>{{i?.ipadress}}</span>
            </td>
            <td>
                <span>{{i?.service.slice(0, 18)}}</span>
            </td>
            <td>
                <span>{{i?.cpu}}</span>
            </td>
            <td class="">
                <span>{{i?.ram}}</span>
            </td>
            <td>
                <span *ngIf="i?.disk.length > 11; else FullDulieu">{{i?.disk.slice(0, 9) + '...'}}</span>
                <ng-template #FullDulieu>
                    <span>{{i?.disk}}</span>
                </ng-template>
            </td>
            <td>
                <div class="d-flex gap-1" style="cursor: pointer">
                    <button class="btn" routerLink="/landing" (click)="showDetail(i?.id)">
                        <i data-feather="eye" appFeatherIcon class="icon-dual"></i>
                    </button>
                </div>
            </td>
        </tr>
    </ng-template>

</app-advanced-table>


<!--<h4 class="mt-1 fs-15 fw-bold text-uppercase">Messages</h4>-->
<!--<ul class="list-unstyled">-->
<!--    <li class="py-2" *ngFor="let message of messages;let i=index" [class.border-bottom]="i<messages.length-1">-->
<!--        <div class="d-flex">-->
<!--            <div class="me-3 flex-shrink-0" *ngIf="message.avatar">-->
<!--                <img [src]="message.avatar" alt="" class="avatar-md rounded-circle">-->
<!--            </div>-->
<!--            <div class="avatar-md rounded-circle bg-soft-primary me-3 flex-shrink-0" *ngIf="!message.avatar">-->
<!--                <span class="fs-18 avatar-title text-primary fw-semibold">{{message.userName![0]}}</span>-->
<!--            </div>-->
<!--            <div class="flex-grow-1 overflow-hidden">-->
<!--                <h5 class="fs-15 mt-2 mb-1"><a href="javascript:void(0)" class="text-dark">{{message.userName}}</a></h5>-->
<!--                <p class="text-muted fs-13 text-truncate mb-0">{{message.text}}</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->

<!--<div class="text-center">-->
<!--    <a href="javascript:void(0)" class="btn btn-primary btn-sm">Load more</a>-->
<!--</div>-->
