<h3>List thông số máy chủ dự án</h3>
<div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-3 col-6">
                            <img src="assets/images/cal.png" class="me-4 align-self-center img-fluid" alt="cal">
                        </div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="mt-4 mt-lg-0">
                                <h5 class="mt-0 mb-1 fs-22 fw-bold">Thông tin máy ảo </h5>
                                <div class="row">
                                    <div class="col-3 fs-22">
                                        {{infoVitual}}
                                    </div>
<!--                                    <div class="col-3">-->
<!--                                        RAM-->
<!--                                    </div>-->
<!--                                    <div class="col-3">-->
<!--                                        RAM-->
<!--                                    </div>-->
<!--                                    <div class="col-3">-->
<!--                                        RAM-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div>
        <!-- end col-12 -->
    </div>

</div>


<app-advanced-table-device

        *ngIf="records.length >0; else noData"
        [totalItems]="totalItems"
        [page]="pageCurrent"
        [limit]="limit"
        [pagination]="true"
        [hasRowSelection]="true"
        (pageChange)="updatePage($event)"

>
    <ng-template #theHeaders>
        <tr>
            <th *ngFor="let column of columns" [style.width.px]="column.width" class="text-capitalize">
                {{column.label}}</th>
        </tr>
    </ng-template>

    <ng-template #theContent>
        <tr *ngFor="let i of records">
            <td>
                <p class="m-0 fw-semibold"> {{i.nameVirtualMachine}}</p>
            </td>
            <td>
                <span>{{i?.ipaddress}}/24</span>
            </td>
            <td class="">
                <span>{{i?.cpu}}%</span>
            </td>
            <td>
                <span>{{i?.ram}}</span>
            </td>
            <td>
                <span>{{i?.usedram}}</span>
            </td>
            <td>
                <span>{{ (( i?.usedram.slice(0, -1)  / i?.ram.slice(0, -1) ) * 100).toFixed(2) }} %</span>
            </td>
            <td>
                <span>{{i?.disk}}</span>
            </td>
            <td>
                <span>{{i?.diskused}}</span>
            </td>
            <td>
                <span>{{(i?.diskused.slice(0, -1) /i?.disk.slice(0, -1)  * 100).toFixed(2) }}%</span>
            </td>
            <td>
                <span>{{i?.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
            </td>
        </tr>
    </ng-template>

</app-advanced-table-device>
<ng-template #noData>
    <div class="text-center m-5">

        <h3>Đang lấy dữ liệu thông tin dữ liệu monitor</h3>

    </div>
</ng-template>