<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Thông tin chi tiết về thiết bị</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title border-bottom p-2 mb-0">Thông tin máy Esxi
                    IP: {{detailPhysicalMachine?.ipadress}}</h3>
                <div class="row  border-bottom ">
                    <div class="col-xl-3 col-sm-6">
                        <!-- stat 1 -->
                        <div class="d-flex p-3">
                            <i data-feather="codesandbox" appFeatherIcon
                               class="align-self-center icon-dual icon-lg me-4"></i>
                            <div class="flex-grow-1">
                                <span class="text-muted fs-13">Số máy ảo sử dụng cho dự án</span>
                                <h4 class="mt-0 mb-0">{{listVirtualMachine?.length}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- stat 2 -->
                        <div class="d-flex p-3">
                            <i data-feather="smartphone" appFeatherIcon
                               class="align-self-center icon-dual icon-lg me-4"></i>
                            <div class="flex-grow-1">
                                <span class="text-muted">Total RAM</span>
                                <h4 class="mt-0 mb-0">{{detailPhysicalMachine?.ram}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- stat 3 -->
                        <div class="d-flex p-3">
                            <i data-feather="cpu" appFeatherIcon class="align-self-center icon-dual icon-lg me-4"></i>
                            <div class="flex-grow-1">
                                <span class="text-muted">Total CPU</span>
                                <h4 class="mt-0 mb-0">{{detailPhysicalMachine?.cpu.slice(0, 8)}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <!-- stat 3 -->
                        <div class="d-flex p-3">
                            <i data-feather="database" appFeatherIcon
                               class="align-self-center icon-dual icon-lg me-4"></i>
                            <div class="flex-grow-1">
                                <span class="text-muted">Total Capacity Disk</span>
                                <h4 class="mt-0 mb-0">{{detailPhysicalMachine?.disk}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h3 class="card-title  p-2 mb-0">Danh sách máy ảo sử dụng dịch vụ công ty</h3>
                    <div class="row mt-1">
                        <div *ngFor="let i of listVirtualMachine"
                             class="col-xl-3 col-lg-2">
                            <div class="card border customize-detail-component" style="cursor: pointer">
                                <div class="card-body">
                                    <div class="badge bg-success float-end">Đang hoạt động</div>
                                    <img width="60" src="assets/images/esxi.png" alt="exi">
                                    <h5>Tên: {{i?.nameVirtualMachine}}</h5>
                                    <h6 class="text-muted">
                                        Địa chỉ IP: {{i?.ipaddress}}
                                    </h6>
                                    <div class="d-flex gap-1">
                                        <button class="btn btn-primary btn-soft-primary" (click)="showInfoVM(i?.nameVirtualMachine)">
                                            Monitor VM
                                        </button>
                                        <button (click)="showDetailVM(i?.id)" class="btn text-info btn-soft-info">
                                            List container
                                        </button>
                                        <button (click)="showDiskVM(i?.id)" class="btn text-warning btn-soft-warning">
                                            Check Disk
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <ng-template [ngIf]="showListContainer">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h3 class="card-title  p-2 mb-0">Danh sách Container {{idVirtualMachine}}</h3>-->
<!--                    <div class="d-flex">-->

<!--                        -->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
<!--        <ng-template [ngIf]="showListDisk">-->
<!--            <div class="card">-->
<!--                <div class="card-body">-->
<!--                    <h3 class="card-title  p-2 mb-0">Danh sách Phân vùng Disk</h3>-->
<!--                    <div class="d-flex">-->
<!--                        <div *ngFor="let i of [1,2,3,4,5]">-->
<!--                            <div>-->
<!--                                Đang thực hiện-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->
    </div>
</div>


<!--<div class="row">-->
<!--    <div class="col-12">-->
<!--        <div class="page-title-box">-->
<!--            <h4 class="page-title">Project: {{selectedProject.title}}-->
<!--                <span class="badge bg-success fs-13 fw-normal"-->
<!--                    *ngIf="selectedProject.state === 'Completed'">{{selectedProject.state}}</span>-->
<!--                <span class="badge bg-warning fs-13 fw-normal"-->
<!--                    *ngIf="selectedProject.state === 'Pending'">{{selectedProject.state}}</span>-->
<!--                <span class="badge badge-soft-primary ms-1 fs-13 fw-normal">{{selectedProject.technology}}</span>-->
<!--            </h4>-->
<!--&lt;!&ndash;            <div class="page-title-right">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="btn-group ms-2 d-none d-sm-inline-block">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-soft-primary btn-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="uil uil-edit me-1"></i>Edit&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="btn-group d-none d-sm-inline-block">&ndash;&gt;-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-soft-danger btn-sm">&ndash;&gt;-->
<!--&lt;!&ndash;                        <i class="uil uil-trash-alt me-1"></i>Delete&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- end page title -->

<!--<div class="row">-->
<!--    <div class="col">-->
<!--        <div class="card">-->
<!--            <div class="card-body p-0">-->
<!--                <h6 class="card-title border-bottom p-3 mb-0 header-title">Tổng Quan </h6>-->
<!--                <div class="row py-1">-->
<!--                    <div class="col-xl-3 col-sm-6">-->
<!--                        &lt;!&ndash; stat 1 &ndash;&gt;-->
<!--                        <div class="d-flex p-3">-->
<!--                            <i data-feather="grid" appFeatherIcon class="align-self-center icon-dual icon-lg me-4"></i>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h4 class="mt-0 mb-0">{{selectedProject.totalTasks}}</h4>-->
<!--                                <span class="text-muted fs-13">Total Tasks</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-3 col-sm-6">-->
<!--                        &lt;!&ndash; stat 2 &ndash;&gt;-->
<!--                        <div class="d-flex p-3">-->
<!--                            <i data-feather="check-square" appFeatherIcon-->
<!--                                class="align-self-center icon-dual icon-lg me-4"></i>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h4 class="mt-0 mb-0">{{selectedProject.totalTasksCompleted}}</h4>-->
<!--                                <span class="text-muted">Total Tasks Completed</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-3 col-sm-6">-->
<!--                        &lt;!&ndash; stat 3 &ndash;&gt;-->
<!--                        <div class="d-flex p-3">-->
<!--                            <i data-feather="users" appFeatherIcon class="align-self-center icon-dual icon-lg me-4"></i>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h4 class="mt-0 mb-0">{{selectedProject.totalTeamSize}}</h4>-->
<!--                                <span class="text-muted">Total Team Size</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-xl-3 col-sm-6">-->
<!--                        &lt;!&ndash; stat 3 &ndash;&gt;-->
<!--                        <div class="d-flex p-3">-->
<!--                            <i data-feather="clock" appFeatherIcon class="align-self-center icon-dual icon-lg me-4"></i>-->
<!--                            <div class="flex-grow-1">-->
<!--                                <h4 class="mt-0 mb-0">{{selectedProject.totalHoursSpent}}</h4>-->
<!--                                <span class="text-muted">Total Hours Spent</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!-- details-->
<!--<div class="row">-->
<!--    <h4>Chi tiết máy vật lý</h4>-->
<!--    <div class="col-xl-6">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h6 class="mt-0 header-title">Danh sách Virtual Machine</h6>-->

<!--                <div class="text-muted mt-3">-->
<!--                    <p>To an English person, it will seem like simplified English, as a skeptical Cambridge friend of-->
<!--                        mine told me what Occidental is. The European languages are members of the same family. Their-->
<!--                        separate existence is a myth.</p>-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="mt-4">-->
<!--                                <p class="mb-2 text-uppercase fs-13 fw-bold"><i class="uil-calender text-danger"></i>-->
<!--                                    Start Date</p>-->
<!--                                <h5 class="fs-16">{{selectedProject.startDate}}</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="mt-4">-->
<!--                                <p class="mb-2 text-uppercase fs-13 fw-bold"><i-->
<!--                                        class="uil-calendar-slash text-danger"></i> Due Date</p>-->
<!--                                <h5 class="fs-16">{{selectedProject.endDate}}</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="mt-4">-->
<!--                                <p class="mb-2 text-uppercase fs-13 fw-bold"><i class="uil-dollar-alt text-danger"></i>-->
<!--                                    Budget</p>-->
<!--                                <h5 class="fs-16">{{selectedProject.totalBudget | currency}}</h5>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="col-lg-3 col-md-6">-->
<!--                            <div class="mt-4">-->
<!--                                <p class="mb-2 text-uppercase fs-13 fw-bold"><i class="uil-user text-danger"></i> Owner-->
<!--                                </p>-->
<!--                                <h5 class="fs-16">{{selectedProject.owner}}</h5>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="assign team mt-4">-->
<!--                        <h6 class="fw-bold">Assign To</h6>-->
<!--                        <a href="javascript: void(0);" *ngFor="let member of selectedProject.teamMembers">-->
<!--                            <img [src]="member.image" alt="" class="avatar-sm m-1 rounded-circle" *ngIf="member.image">-->
<!--                            <div class="avatar-sm fw-bold d-inline-block m-1" *ngIf="member.variant">-->
<!--                                <span-->
<!--                                    class="avatar-title rounded-circle bg-soft-{{member.variant}} text-{{member.variant}}">{{member.name[0]}}</span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->

<!--                    <div class="mt-4">-->
<!--                        <h6 class="fw-bold">Attached Files</h6>-->

<!--                        <div class="row">-->
<!--                            <div class="col-xl-4 col-md-6">-->
<!--                                <div class="p-2 border rounded mb-2">-->
<!--                                    <div class="d-flex">-->
<!--                                        <div class="avatar-sm fw-bold me-3 flex-shrink-0">-->
<!--                                            <span class="avatar-title rounded bg-soft-primary text-primary">-->
<!--                                                <i class="uil-file-plus-alt fs-18"></i>-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                        <div class="flex-grow-1">-->
<!--                                            <a [routerLink]="'.'" class="d-inline-block mt-2">Landing 1.psd</a>-->
<!--                                        </div>-->
<!--                                        <div class="float-end mt-1">-->
<!--                                            <a [routerLink]="'.'" class="p-2"><i class="uil-download-alt fs-18"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-xl-4 col-md-6">-->
<!--                                <div class="p-2 border rounded mb-2">-->
<!--                                    <div class="d-flex">-->
<!--                                        <div class="avatar-sm fw-bold me-3 flex-shrink-0">-->
<!--                                            <span class="avatar-title rounded bg-soft-primary text-primary">-->
<!--                                                <i class="uil-file-plus-alt fs-18"></i>-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                        <div class="flex-grow-1">-->
<!--                                            <a [routerLink]="'.'" class="d-inline-block mt-2">Landing 2.psd</a>-->
<!--                                        </div>-->
<!--                                        <div class="float-end mt-1">-->
<!--                                            <a [routerLink]="'.'" class="p-2"><i class="uil-download-alt fs-18"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; end card &ndash;&gt;-->
<!--&lt;!&ndash;        <div class="card">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card-body">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ul ngbNav #nav="ngbNav" class=" nav-pills navtab-bg p-1">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li ngbNavItem>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a ngbNavLink>Discussions</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ng-template ngbNavContent>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h5 class="mb-4 pb-1 header-title">Comments (6)</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="d-flex mb-4 fs-14">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img class="d-flex-object rounded-circle avatar-sm" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                src="assets/images/users/avatar-2.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h5 class="mt-0 fs-15">John Cooks</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p class="text-muted mb-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="text-danger">@Rick Perry</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            Their separate existence is a myth.&ndash;&gt;-->
<!--&lt;!&ndash;                                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'" class="text-primary">Reply</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="d-flex mb-4 fs-14">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img class="d-flex-object rounded-circle avatar-sm" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                src="assets/images/users/avatar-3.jpg"> </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h5 class="mt-0 fs-15">Jayden Dowie</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p class="text-muted mb-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="text-danger">@Rick Perry</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            It will be as simple as occidental in fact be Occidental will seem like&ndash;&gt;-->
<!--&lt;!&ndash;                                            simplified.&ndash;&gt;-->
<!--&lt;!&ndash;                                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'" class="text-primary">Reply</a>&ndash;&gt;-->

<!--&lt;!&ndash;                                        <div class="d-flex mt-3 fs-14">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-shrink-0 me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <div class="avatar-sm fw-bold d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <span&ndash;&gt;-->
<!--&lt;!&ndash;                                                            class="avatar-title rounded-circle bg-soft-primary text-primary">R</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <h5 class="mt-0 fs-15">Ray Roberts</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <p class="text-muted mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a [routerLink]="'.'" class="text-danger">@Rick Perry</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    Cras sit amet nibh libero.&ndash;&gt;-->
<!--&lt;!&ndash;                                                </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="text-primary">Reply</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="d-flex mb-4 fs-14">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="flex-shrink-0 me-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img class="d-flex-object rounded-circle avatar-sm" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                src="assets/images/users/avatar-2.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <h5 class="mt-0 fs-15">John Cooks</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p class="text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="text-danger">@Rick Perry</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            Itaque earum rerum hic&ndash;&gt;-->
<!--&lt;!&ndash;                                        </p>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="p-2 border rounded mb-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="avatar-sm fw-bold me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <span class="avatar-title rounded bg-soft-primary text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <i class="uil-file-plus-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a [routerLink]="'.'" class="d-inline-block mt-2">Landing 1.psd</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                                <div class="float-end mt-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <a [routerLink]="'.'" class="p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        <i class="uil-download-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'" class="text-primary">Reply</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <a [routerLink]="'.'">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <img class="d-flex-object rounded-circle avatar-sm" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                src="assets/images/users/avatar-1.jpg">&ndash;&gt;-->
<!--&lt;!&ndash;                                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input type="text" class="form-control input-sm"&ndash;&gt;-->
<!--&lt;!&ndash;                                            placeholder="Some text value...">&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li ngbNavItem>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a ngbNavLink>Files/Resources</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            <ng-template ngbNavContent>&ndash;&gt;-->
<!--&lt;!&ndash;                                <h5 class="mb-3">Attached Files :</h5>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="avatar-sm fw-bold me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <span class="avatar-title rounded bg-soft-primary text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-file-plus-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="d-inline-block mt-2">Landing 1.psd</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="float-end mt-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-download-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="avatar-sm fw-bold me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <span class="avatar-title rounded bg-soft-primary text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-file-plus-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="d-inline-block mt-2">Landing 2.psd</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="float-end mt-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-download-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img src="assets/images/small/img-2.jpg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                    class="avatar-lg rounded"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img src="assets/images/small/img-3.jpg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                    class="avatar-lg rounded"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img src="assets/images/small/img-4.jpg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                    class="avatar-lg rounded"></a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="avatar-sm fw-bold me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <span class="avatar-title rounded bg-soft-primary text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-file-plus-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="d-inline-block mt-2">Logo.psd</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="float-end mt-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-download-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img src="assets/images/small/img-7.jpg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                    class="avatar-lg rounded">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <a [routerLink]="'.'" class="d-inline-block m-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <img src="assets/images/small/img-6.jpg" alt=""&ndash;&gt;-->
<!--&lt;!&ndash;                                                    class="avatar-lg rounded">&ndash;&gt;-->
<!--&lt;!&ndash;                                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->

<!--&lt;!&ndash;                                    <div class="p-2 border rounded mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="avatar-sm fw-bold me-3 flex-shrink-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <span class="avatar-title rounded bg-soft-primary text-primary">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-file-plus-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="flex-grow-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="d-inline-block mt-2">Clients.psd</a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                            <div class="float-end mt-1">&ndash;&gt;-->
<!--&lt;!&ndash;                                                <a [routerLink]="'.'" class="p-2">&ndash;&gt;-->
<!--&lt;!&ndash;                                                    <i class="uil-download-alt fs-18"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ul>&ndash;&gt;-->
<!--&lt;!&ndash;                    <div [ngbNavOutlet]="nav"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
<!--    <div class="col-xl-6">-->
<!--        <div class="card">-->
<!--            <div class="card-body">-->
<!--                <h6 class="mt-0 header-title">Danh sách Service container</h6>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- end row -->
